<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--======= Difinition of myBatis Configuration =======-->
    <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
    </settings>

    <!--======= Difinition of MAPPER alias =======-->
    <typeAliases>
        <typeAlias type="com.brewduck.web.domain.Account" alias="Account" />
        <typeAlias type="com.brewduck.web.domain.User" alias="User" />
        <typeAlias type="com.brewduck.web.domain.Profile" alias="Profile" />
        <typeAlias type="com.brewduck.web.domain.Common" alias="Common" />
        <typeAlias type="com.brewduck.web.domain.Hop" alias="Hop" />
    </typeAliases>

</configuration>